.searchBtn {
    color: white;
    background-color: black;
    border-radius: 20px;
    width: 10%;
}

.searchBox {
    border-style: solid;
    margin: 10px;
    border-width: 1px;
    border-radius: 1px;
    border-color:black;
    color: black;
    width: 30%;
}

.listItem {
    display: inline-block;
    margin-right: 10px;
    padding-left: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}

.addBtn {
    color: white;
    background-color: black;
    width: 20%;
}

.searchError {
    color: red;
}