.editDataset {
    width: 100%;
}

.addForm {
    width: 100%;
}

.brandNameButton {
    width: 100%;
}

.deleteClassifierBtn {
    width: 30px;
    display: inline-block;
}

.borderlist {
    list-style-position:inside;
    border: 2px solid black;
}
li {
    list-style-type : none;
  }